<strong>Olá, {{ deliveryman }}</strong>
<p>A encomenda abaixo foi cancelada:</p>
<p>
  <strong>{{ delivery }}</strong> <br />
  Devido ao seguinte problema
  <p> {{ problem }} </p>
  <small>Foi cancelado em: {{date}}</small>
</p>
